<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmVZHj28vHilVLE7-VOaAjngaBEW1Ni80</string>
	<key>GCM_SENDER_ID</key>
	<string>644528977422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miracle.tiny</string>
	<key>PROJECT_ID</key>
	<string>tinyapp-by-miracle</string>
	<key>STORAGE_BUCKET</key>
	<string>tinyapp-by-miracle.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644528977422:ios:42560f4373f09945caae5f</string>
</dict>
</plist>